# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'D3 Sandwich Recipe Tools'
      'submenu': [
        {
          'label': 'Wrap Italics Tag Around Variables'
          'command': 'd3-sandwich-recipe-tools:add-italics-class-to-line'
        },
        {
          'label': 'Wrap Italics Tag around Selection'
          'command': 'd3-sandwich-recipe-tools:add-italics-class-to-selection'
        }
        {
          'label': 'Create Basic Input Form'
          'command': 'd3-sandwich-recipe-tools:create-input-form'
        }
      ]
    ]
  }
]
