# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'D3 Sandwich Recipe Tools'
      'submenu': [
        {
          'label': 'Create Basic Input Form'
          'command': 'd3-sandwich-recipe-tools:create-input-form'
        },
        {
          'label': 'Add Italics Tag'
          'command': 'd3-sandwich-recipe-tools:add-italics-and-id'
        }
      ]
    ]
  }
]
